@import "@source/_variables";

.translate {
  & > div:first-of-type {
    background-color: darken($color: white, $amount: 3);
    height: 100px;
  }
  & > div:last-of-type {
    margin: auto;
    max-width: 1300px;
    & > div {
      margin-top: -80px;
    }
  }
}
